.image{
    background-color:black;
    color:white;
    text-align: center; 
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    padding:20px;
    justify-content: space-around;
    justify-content: center;
}
h1{
    text-align: center;
}
.image div{
    width:200px;
    padding:20px;
}