.image{
    height: 100vh;
    background: linear-gradient(to top,rgba(0,0,0,0.5),rgba(0,0,0 ,0.5)),url(images/image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
nav{
    display:flex;
    margin:20px;
    color:white;
    align-items: center;
    padding:20px;
    justify-content: space-between;
}
ul{
    display: flex;
    margin-left:auto;
    gap:20px;
    list-style:none; 
    font-weight: bolder;
}
li:hover{
        cursor: pointer;
        color:orange;
}
 .one input{
    font-weight:bold;
}
.one button
{
    font-weight: bold;
    background-color: orange;
}
.home{
    color:white;
    font-weight: bolder;
    margin-top: 7%;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 7%;
}
.bt{
    background-color: orange;
   font-size: 30px;
    border:none;
    cursor: pointer;
    border-radius: 10px;
}
.bt:hover{
    background-color: azure;
}
.box{
      margin-top: -25%;
     margin-left:70%;
     position: absolute;
     background: rgba(0,0,0 ,0.5);
     padding:20px;
     margin-right: 30px;
     outline: none;
    

}
#login{
    background-color:white;
    color:orange;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px;
}
#fd{
    color:orange;
    text-align: center;
}
#fd:hover{
     cursor: pointer;
     color:white;
}
.box h3{
     border-radius: 2px;
}
.box input{
    margin-bottom:20px solid;
    display: block;
    outline:none;
    padding :2px 0;
}