body{
   background-color:rgb(0, 0, 22);
    color: white;
    font-family: sans-serif;
}
h1{
    text-align: center;
}
.box{

    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,300px);
   
    gap:40px;
}
.box1{
     border:solid gray 1px;
     border-radius: 10px;
     justify-items: center;
     background-color: rgb(202, 197, 197,0.2);

}
.box2{
          border:solid rgb(192, 183, 183) 1px;
     border-radius: 10px;
          justify-items: center;
          position: relative;
        background-color: rgb(202, 197, 197,20%);
}
.box3{
     border:solid gray 1px;
     border-radius: 10px;
          justify-items: center;
           background-color: rgb(202, 197, 197,0.2);
}
#rec{
    top:-8%;
    left: 20%;
    height:20px;
    width: 150px;
    display: inline;
    background: linear-gradient(to right,skyblue,blue);
    position: absolute;
    border-radius: 5px;
    text-align: center;
}
#dp{
  
    border:solid 2px white;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    background: linear-gradient(to left,skyblue,blue);
  
}
h2{
    font-size: xx-large;
    
  
}

