#ec{
     font-size: large;
    width:200px;
    height: 35px;
    text-align: center;
   padding-top: 18px;
   border-radius: 20px;
   background-color: blueviolet;
   color: white;
  
}
#box{
     margin-top: 500px;
    border:solid 1px black;
    background-color:rgb(0, 0, 26);
    color: white;
}
body{
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at 12% 20%,rgb(71, 23, 71),transparent 30%),rgb(4, 4, 31)
    radial-gradient(circle at 90% 80%,rgb(114, 171, 194) ,transparent 15%);
} 