 body {
     text-align: center;
 }

 th {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     opacity: 40%;
 }

 td {
     padding: 20px;
     font-size: xx-large;
     opacity: 70%;
 }
 .outbox{
    border: gainsboro 30px solid;
    width: 600px;
 }
 .box{
    border:solid 2px gray;
    width: 480px;
    border-radius: 10px;
    padding: 60px;
 }
 h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 90%;
 }
