nav {
  display: flex;
  background-color: red;

}
h2{
    display: inline;
}
 nav p{
    margin-left: 100px;
    font-size:large;
}
#one{
    margin-left: 70%;
}
#box11{
    display: flex;
        background-color: rgb(201, 201, 201);
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width:400px;
   
    height:200px;
}
#box1{
    height:450px;
    background-color: rgb(252, 252, 252);
    width:400px;
    position:relative;
    margin-left: 100px;
}
#box1 p{
    font-size: x-large;
   padding-left: 20px;
}
#tb{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
}
.box{
    display: grid;
    grid-template-columns:repeat(2, 500px);
    justify-content: center;
    margin-top: 50px;
}
button{
    width:300px;
    height: 50px;
    margin-left: 50px;
    font-size: 20px;
    background-color: rgb(56, 175, 56);
    border-radius: 5px;
}
body{
    background-color: rgb(230, 230, 230);
    height: 100vh;
}
#top{
    display:inline ;
    background-color: green;
    position:absolute;
    margin-top:-100px;
    margin-left: -300px;
    border-radius: 2px;
}
#topbusy{
    display:inline ;
    background-color:yellow;
    position:absolute;
    margin-top:-100px;
    margin-left: -300px;
    border-radius: 2px;
}
#foot{
    font-size: 30px;
    text-align: center;
    margin-top:7%;
    opacity: 70%;
}