nav {
    display: flex;
    gap:30px;
    font-size: 25px;
    margin-top: 0;
    padding: 0;
    background-color: rgb(255, 24, 24);
}
#one{
    margin-left: 57%;
}
body{
      margin-top: 0;
    padding: 0;
}

.inbox{
   
     display: grid;
     grid-template-columns:repeat(3 , 1fr);
     justify-content: center;
     background-color: rgb(230, 230, 230);
    padding: 50px;
}
#box1,#box2,#box3{
    border: 1px solid gray;
     width: 500px;
     height: 400px;
     background-color: azure;
     padding: 20px;
}
