nav{
    display: flex;

    font-size: 30px;
}
nav p{
    display: flex;
   margin-left: 60px;
 
}
p:hover{
    cursor: pointer;
    color: aliceblue;
}
#one{
    margin-left: 70%;
  
}
h6{
    font-size: 40px;
}
*{
      margin: 0;
  padding: 0;
}
.head{
    background-color: red;
}
h2{
    padding: 20px;
}
.box{
    display: grid;
    grid-template-columns: repeat(2,500px);
    height: 600px;
    border: solid black 2px;
    justify-content: center;
    gap:100px;
    background-color: white;
    
}
.box11{
    width:300px;
    height: 200px;
    border:solid black 2px;
}
.box1,.box2{
  border: solid black 1px;
   height:500px;
   margin-top: 20px;
   background-color:rgb(247, 243, 243);
}
.box1 p,.box2 p{
margin-top: 40px;
 font-size: 20px;
 margin-left: 20px;

}
button{
    position: relative;
    width:220px;
    height: 50px;
    margin-top: 20px;margin-left: 120px;
  background-color: green;
  color: white;
  font-size: 20px;
}
#border{
    width:495px;
    border:solid black 1px;
    margin-top: 70px;
    padding-bottom: 20px;
    height: 70px;
  
}
body{
    background-color: rgb(212, 212, 212);
}
button:hover{
    cursor: pointer;
   background-color: yellow;
}