.header {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 80px 300px 120px 80px;
    grid-template-areas:
        "h h h"
        "s m  m"
        "b1 b2 b3"
        "f f f";
    column-gap: 5px;
    row-gap: 5px;
    justify-content: center;
    margin-top: 100px;
}

#Header {
    grid-area: h;
    background-color: rgb(11, 117, 11);

}

#side {
    grid-area: s;
    background-color: yellow;

    color: black;
}

#mc {
    grid-area: m;
    background-color: blueviolet;


}

#box1 {
    grid-area: b1;
    background-color: blue;


}

#box2 {
    grid-area: b2;
    background-color: blue;

}

#box3 {
    grid-area: b3;
    background-color: blue;


}

#footer {
    grid-area: f;
    background-color: gray;


}

p {
    color: white;

    text-align: center;
    align-content: center;
    font-size: 20px;
    margin: 0px;

}

body {
    margin: 0px;
}