#head{
   display: grid;  
   grid-template-columns: 300px  600px;
   grid-template-rows:200px 200px;
   grid-template-areas:
   "box1 box2"
   "box1 box3";
  row-gap: 200px;
  column-gap: 300px;
  
}
#box
{
    grid-area: box1;
    grid-row: 1/3;
    border: solid red 2px;
}
#box2
{
    grid-area: box2;
    border: solid red 2px;;
}
#box3
{
    grid-area: box3;
    border: solid red 2px;;
}
*{
    margin: 0;
    padding: 0;
}
#box11{
    border:black 1px solid;
    margin:20px;
}#one{
    margin-top: 40%;
    width:290px;
    height:50px;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: white;
  
}
button{
    width:90px;
    height: 50px;
    margin-top: 100px;
    margin-left: 50px;
}